{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul class="hotseats">
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/2017/creative_south/ep_10.png');"></div>
							<div class="hotseat__num"><span>10</span></div>
							<div class="hotseat__name">Mitch Shepherd</div>
							<div class="hotseat__title">Owner of <a href="https://humblymade.com/" target="_blank">Humbly Made</a></div>
							<ul class="hotseat__social">
								<li><a href="https://www.facebook.com/HumblyMade/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
								<li><a href="https://www.instagram.com/humblymadebrand/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="https://twitter.com/humblymadebrand" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
							</ul>
							<a href="https://simplecast.com/s/4bddd8dc" target="_blank"><div class="hotseat__play"></div></a>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/2017/creative_south/ep_9.png');"></div>
							<div class="hotseat__num"><span>9</span></div>
							<div class="hotseat__name">Jose Ciceraro</div>
							<div class="hotseat__title">Sr. UI Artist at <a href="http://www.insomniacgames.com/" target="_blank">Insomniac Games</a></div>
							<ul class="hotseat__social">
								<li><a href="https://dribbble.com/superspaceocto" target="_blank"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								<li><a href="https://www.instagram.com/superspaceocto/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="https://twitter.com/superspaceocto" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
							</ul>
							<a href="https://simplecast.com/s/bb430b8c" target="_blank"><div class="hotseat__play"></div></a>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/2017/creative_south/ep_8.png');"></div>
							<div class="hotseat__num"><span>8</span></div>
							<div class="hotseat__name">Shauna Lynn<br />&amp; Syd Weiler</div>
							<div class="hotseat__title">Illustrators on the <a href="https://www.twitch.tv/adobe" target="_blank">Adobe Twitch</a> Team</div>
							<ul class="hotseat__social" style="text-align: left;">
								<li><a href="https://www.facebook.com/shaunaparmesan" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
								<li><a href="https://www.instagram.com/shaunaparmesan/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="https://twitter.com/shaunaparmesan" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
								<li><a href="https://dribbble.com/shaunaparmesan" target="_blank"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								<br />
								<li><a href="https://www.facebook.com/sydweiler" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
								<li><a href="https://www.instagram.com/sydweiler/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="https://twitter.com/sydweiler" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
							</ul>
							<a href="https://simplecast.com/s/1e9ea106" target="_blank"><div class="hotseat__play"></div></a>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/2017/creative_south/ep_7.png');"></div>
							<div class="hotseat__num"><span>7</span></div>
							<div class="hotseat__name">Scott Fuller</div>
							<div class="hotseat__title">Graphic Designer at <a href="https://dribbble.com/studiotemporary" target="_blank">The Studio Temporary</a></div>
							<ul class="hotseat__social">
								<li><a href="http://dribbble.com/studiotemporary" target="_blank"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								<li><a href="https://instagram.com/studiotemporary/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="http://twitter.com/studiotemporary" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
							</ul>
							<a href="https://simplecast.com/s/1472c8a7" target="_blank"><div class="hotseat__play"></div></a>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/2017/creative_south/ep_6.png');"></div>
							<div class="hotseat__num"><span>6</span></div>
							<div class="hotseat__name">Emily Carlton</div>
							<div class="hotseat__title">Illustrator at <a href="http://thesketcheffect.com/" target="_blank">The Sketch Effect</a></div>
							<ul class="hotseat__social">
								<li><a href="https://www.instagram.com/emilyacarlton/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="https://twitter.com/EmilyaCarlton" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
							</ul>
							<a href="https://simplecast.com/s/d823c54b" target="_blank"><div class="hotseat__play"></div></a>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/2017/creative_south/ep_5.png');"></div>
							<div class="hotseat__num"><span>5</span></div>
							<div class="hotseat__name">Brittany Wong</div>
							<div class="hotseat__title">Art Director at <a href="http://www.heybrittanywong.com/" target="_blank">Five Q</a></div>
							<ul class="hotseat__social">
								<li><a href="https://dribbble.com/brittanywong" target="_blank"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								<li><a href="https://www.instagram.com/heybrittanywong/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="https://twitter.com/heybrittanywong" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
							</ul>
							<a href="https://simplecast.com/s/0075587d" target="_blank"><div class="hotseat__play"></div></a>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/2017/creative_south/ep_4.png');"></div>
							<div class="hotseat__num"><span>4</span></div>
							<div class="hotseat__name">Manuel Aguilera</div>
							<div class="hotseat__title">Character Designer &amp; Illustrator at <a href="http://mannycartoon.com/" target="_blank">Manny Cartoon Studios</a></div>
							<ul class="hotseat__social">
								<li><a href="https://www.facebook.com/Manny-Cartoon-Studio-162905213762810/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
								<li><a href="https://www.instagram.com/mannycartoon/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							</ul>
							<a href="https://simplecast.com/s/f8ffa1cd" target="_blank"><div class="hotseat__play"></div></a>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/2017/creative_south/ep_3.png');"></div>
							<div class="hotseat__num"><span>3</span></div>
							<div class="hotseat__name">Bethany Heck<br />&amp; Ced Funches</div>
							<div class="hotseat__title">Executive Design Directors at <a href="https://www.voxmedia.com/" target="_blank">Vox Media</a></div>
							<ul class="hotseat__social" style="text-align: left;">
								<li><a href="https://dribbble.com/bethanyheck" target="_blank"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								<li><a href="https://www.instagram.com/heckhouse" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="https://twitter.com/EephusLeague" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
								<br />
								<li><a href="https://dribbble.com/cedfunches" target="_blank"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								<li><a href="https://www.instagram.com/cedfunches" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="https://twitter.com/cedfunches" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
							</ul>
							<a href="https://simplecast.com/s/5a909eac" target="_blank"><div class="hotseat__play"></div></a>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/2017/creative_south/ep_2.png');"></div>
							<div class="hotseat__num"><span>2</span></div>
							<div class="hotseat__name">Chris DeLorenzo</div>
							<div class="hotseat__title">Graphic Artist at <a href="http://www.chrisdelorenzo.com/" target="_blank">chrisdelorenzo.com</a></div>
							<ul class="hotseat__social">
								<li><a href="https://www.instagram.com/chrisdelorenzo/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="https://twitter.com/chrisdelorenzo" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
							</ul>
							<a href="https://simplecast.com/s/35b8c5f1" target="_blank"><div class="hotseat__play"></div></a>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/2017/creative_south/ep_1.png');"></div>
							<div class="hotseat__num"><span>1</span></div>
							<div class="hotseat__name">Lenny Terenzi</div>
							<div class="hotseat__title">Proprietor of <a href="http://www.heymonkeydesign.com/" target="_blank">Hey! Monkey</a></div>
							<ul class="hotseat__social">
								<li><a href="https://dribbble.com/heymonkeydesign" target="_blank"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								<li><a href="https://www.facebook.com/HeyMonkeyDesign/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
								<li><a href="https://www.instagram.com/heymonkeydesign/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="https://twitter.com/heymonkeydesign" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
							</ul>
							<a href="https://simplecast.com/s/215dd1a1" target="_blank"><div class="hotseat__play"></div></a>
						</li>
						{# <li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/2017/creative_south/ep_1.png');"></div>
							<div class="hotseat__num"><span>1</span></div>
							<div class="hotseat__name">Lenny Terenzi</div>
							<div class="hotseat__title">Artist / Designer at <a href="#!" target="_blank">Chomp</a></div>
							<ul class="hotseat__social">
								<li><a href="#!" target="_blank"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								<li><a href="#!" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
								<li><a href="#!" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="#!" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
							</ul>
							<a href="#!" target="_blank"><div class="hotseat__play"></div></a>
						</li> #}
					</ul>
				</div>
			</div>
		</div>
	</div><!-- /content-wrapper -->
{% endblock %}