{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul class="hotseats">
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/ep_17.jpg');"></div>
							<div class="hotseat__num"><span>16</span></div>
							<div class="hotseat__name">Robert "Bud" Hancock</div>
							<div class="hotseat__title">Founder of <a href="http://providenceinternational.org/" target="_blank">Providence International</a></div>
							<ul class="hotseat__social">
								<li><a href="https://www.facebook.com/ProvidenceInternational/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
							</ul>
							<a href="https://simplecast.com/s/155fee97" target="_blank"><div class="hotseat__play"></div></a>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/ep_16.jpg');"></div>
							<div class="hotseat__num"><span>15</span></div>
							<div class="hotseat__name">Ian Utile</div>
							<div class="hotseat__title">Founder of <a href="http://gorillabranders.com/" target="_blank">Gorilla Branders</a></div>
							<ul class="hotseat__social">
								<li><a href="https://twitter.com/ianutile/" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
								<li><a href="https://www.instagram.com/ianutile/" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
								<li><a href="https://www.linkedin.com/in/ianutile" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
							</ul>
							<a href="https://simplecast.com/s/fb35c68d" target="_blank"><div class="hotseat__play"></div></a>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/ep_15.jpg');"></div>
							<div class="hotseat__num"><span>14</span></div>
							<div class="hotseat__name">Zac Ernst</div>
							<div class="hotseat__title">Host of <a href="http://adventureandfreedom.com/" target="_blank">Adventure and Freedom</a></div>
							<ul class="hotseat__social">
								<li><a href="https://www.facebook.com/adventureandfreedom/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
								<li><a href="https://www.instagram.com/zac_ernst/" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
							</ul>
							<a href="https://simplecast.com/s/b9b6f825" target="_blank"><div class="hotseat__play"></div></a>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/ep_14.jpg');"></div>
							<div class="hotseat__num"><span>13</span></div>
							<div class="hotseat__name">Brandon Elrod</div>
							<div class="hotseat__title">Arborist &amp; Author at <a href="http://brandonscottelrod.com" target="_blank">brandonscottelrod.com</a></div>
							<ul class="hotseat__social">
								<li><a href="https://www.facebook.com/brandonelrod/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
								<li><a href="https://www.instagram.com/voiceofcreation/" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
							</ul>
							<a href="https://simplecast.com/s/b7cee178" target="_blank"><div class="hotseat__play"></div></a>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/ep_13.jpg');"></div>
							<div class="hotseat__num"><span>12</span></div>
							<div class="hotseat__name">Luke Lefevre</div>
							<div class="hotseat__title">Senior Creative Director at <a href="http://ramseysolutions.com/" target="_blank">Ramsey Solutions</a></div>
							<ul class="hotseat__social">
								<li><a href="https://twitter.com/lukelefevre/" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
							</ul>
							<a href="https://simplecast.com/s/98fc8d69" target="_blank"><div class="hotseat__play"></div></a>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/ep_12.jpg');"></div>
							<div class="hotseat__num"><span>11</span></div>
							<div class="hotseat__name">Justis Earle</div>
							<div class="hotseat__title">CEO of <a href="http://hansnap.com" target="_blank">Hansnap</a></div>
							<ul class="hotseat__social">
								<li><a href="https://www.facebook.com/HANSNAPit/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
								<li><a href="https://www.instagram.com/hansnap_/" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
								<li><a href="https://twitter.com/HANSNAP_/" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
								<li><a href="https://www.youtube.com/channel/UCP3nlP7MWF-hbmrBauR3_Bg" target="_blank"><i class="fa fa-youtube-square" aria-hidden="true"></i></a></li>
							</ul>
							<a href="https://simplecast.com/s/b6c3c6ba" target="_blank"><div class="hotseat__play"></div></a>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/ep_11.jpg');"></div>
							<div class="hotseat__num"><span>10</span></div>
							<div class="hotseat__name">Hannah Spangler</div>
							<div class="hotseat__title">Conceptual Developer and Storyteller with <a href="http://limitlesscrew.com" target="_blank">Limitless Crew</a></div>
							<ul class="hotseat__social">
								<li><a href="https://www.instagram.com/hannahspangler_art/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="https://www.facebook.com/hannahspanglerart/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
								<li><a href="https://www.youtube.com/superspanglersm/" target="_blank"><i class="fa fa-youtube-square" aria-hidden="true"></i></a></li>
							</ul>
							<a href="https://simplecast.com/s/0c542552" target="_blank"><div class="hotseat__play"></div></a>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/ep_10.jpg');"></div>
							<div class="hotseat__num"><span>9</span></div>
							<div class="hotseat__name">Suzanna Storey</div>
							<div class="hotseat__title">Owner of <a href="http://storeystudios.com" target="_blank">Storey Studios</a></div>
							<ul class="hotseat__social">
								<li><a href="https://www.facebook.com/storeystudiosuk/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
								<li><a href="https://www.instagram.com/suzstorey/" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
							</ul>
							<a href="https://simplecast.com/s/54613d83" target="_blank"><div class="hotseat__play"></div></a>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/ep_9.jpg');"></div>
							<div class="hotseat__num"><span>8</span></div>
							<div class="hotseat__name">David Cowan</div>
							<div class="hotseat__title">Creative Arts Pastor at <a href="http://thecrossinglv.com" target="_blank">The Crossing</a></div>
							<ul class="hotseat__social">
								<li><a href="https://www.instagram.com/dccowan/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="https://www.facebook.com/dccowan/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
								<li><a href="https://www.instagram.com/disneycartel/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							</ul>
							<a href="https://simplecast.com/s/f3613810" target="_blank"><div class="hotseat__play"></div></a>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/ep_8.jpg');"></div>
							<div class="hotseat__num"><span>7</span></div>
							<div class="hotseat__name">Marchall McLaughlin</div>
							<div class="hotseat__title">Producer at <a href="http://processcreative.tv" target="_blank">Process Creative</a></div>
							<ul class="hotseat__social">
								<li><a href="https://www.instagram.com/marshall_mcl/" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
							</ul>
							<a href="https://simplecast.com/s/f6736342" target="_blank"><div class="hotseat__play"></div></a>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/ep_7.jpg');"></div>
							<div class="hotseat__num"><span>6</span></div>
							<div class="hotseat__name">Natalie Box</div>
							<div class="hotseat__title">Founder of <a href="http://thewritersink.com" target="_blank">The Dreams Co / The Writers Ink</a></div>
							<ul class="hotseat__social">
								<li><a href="https://www.instagram.com/thewritersink/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="https://www.facebook.com/nataliebox/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
							</ul>
							<a href="https://simplecast.com/s/73a7f1f8" target="_blank"><div class="hotseat__play"></div></a>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/ep_6.jpg');"></div>
							<div class="hotseat__num"><span>5</span></div>
							<div class="hotseat__name">Angie Callen</div>
							<div class="hotseat__title">Founder of <a href="http://angiecallen.com" target="_blank">Angie Callen Now</a></div>
							<ul class="hotseat__social">
								<li><a href="https://www.instagram.com/angiecallennow/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="https://www.facebook.com/angiecallennow/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
								<li><a href="https://www.instagram.com/angiecallen/" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
							</ul>
							<a href="https://simplecast.com/s/f8ec864c" target="_blank"><div class="hotseat__play"></div></a>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/ep_5.jpg');"></div>
							<div class="hotseat__num"><span>4</span></div>
							<div class="hotseat__name">Fabiano Altamura</div>
							<div class="hotseat__title">Co-Founder / Head of Drama at <a href="http://bethelconservatory.com" target="_blank">Bethel Conservatory of the Arts</a></div>
							<ul class="hotseat__social">
								<li><a href="https://www.facebook.com/fabiano.martell/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
								<li><a href="https://www.instagram.com/thedreamcircle/" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
							</ul>
							<a href="https://simplecast.com/s/cff20406" target="_blank"><div class="hotseat__play"></div></a>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/ep_4.jpg');"></div>
							<div class="hotseat__num"><span>3</span></div>
							<div class="hotseat__name">Seth Dahl</div>
							<div class="hotseat__title">Senior Children’s Pastor at <a href="http://bethelredding.com/" target="_blank">Bethel Redding</a></div>
							<ul class="hotseat__social">
								<li><a href="https://www.facebook.com/dahlministries/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
								<li><a href="https://www.instagram.com/sethdahl/" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
							</ul>
							<a href="https://simplecast.com/s/0706fdc4" target="_blank"><div class="hotseat__play"></div></a>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/ep_3.jpg');"></div>
							<div class="hotseat__num"><span>2</span></div>
							<div class="hotseat__name">Caitlin Calhoun &amp; Nadia Paredes</div>
							<div class="hotseat__title">Founder at <a href="http://saltandcinnamon.com" target="_blank">Salt And Cinnamon</a></div>
							<div class="hotseat__title">Creative at <a href="http://saltandcinnamon.com" target="_blank">Salt And Cinnamon</a></div>
							<ul class="hotseat__social">
								<li><a href="https://www.facebook.com/saltandcinnamon/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
								<li><a href="https://www.instagram.com/saltandcinnamon/" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
							</ul>
							<a href="https://simplecast.com/s/a0f80a1a" target="_blank"><div class="hotseat__play"></div></a>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/ep_2.jpg');"></div>
							<div class="hotseat__num"><span>1</span></div>
							<div class="hotseat__name">Shawn Anderson</div>
							<div class="hotseat__title">Owner / Roaster at <a href="http://oldtownroasting.com" target="_blank">Old Town Roasting</a></div>
							<ul class="hotseat__social">
								<li><a href="https://www.instagram.com/shawntheroaster/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="https://twitter.com/shawntheroaster/" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
							</ul>
							<a href="https://simplecast.com/s/644c6d62" target="_blank"><div class="hotseat__play"></div></a>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/ep_1.jpg');"></div>
							<div class="hotseat__num"><span>0</span></div>
							<div class="hotseat__name">Joshua &amp; Lauren Ariza</div>
							<div class="hotseat__title">Artist / Designer at <a href="http://chompbrand.com" target="_blank">Chomp</a></div>
							<div class="hotseat__title">Chef / Blogger at <a href="http://laurenariza.com" target="_blank">Recipe • Schmecipe</a></div>
							<ul class="hotseat__social">
								<li><a href="https://www.instagram.com/laurenariza/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
								<li><a href="https://www.instagram.com/laurenariza/" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
								<li><a href="https://www.instagram.com/joshua_ariza/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
								<li><a href="https://www.instagram.com/joshua_ariza/" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
								<li><a href="https://www.dribbble.com/joshua_ariza/" target="_blank"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
							</ul>
							<a href="https://simplecast.com/s/4d60f60f" target="_blank"><div class="hotseat__play"></div></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div><!-- /content-wrapper -->
{% endblock %}