{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul class="hotseats">
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/2017/creative_south/ep_26.png');"></div>
							<div class="hotseat__num"><span>26</span></div>
							<div class="hotseat__name">Cameron Crotts</div>
							<div class="hotseat__title">Creative Director at <a href="http://www.venueadv.com/" target="_blank">Venue Marketing Group</a></div>
							<ul class="hotseat__social">
								<li><a href="https://dribbble.com/camronc" target="_blank"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								<li><a href="https://www.facebook.com/cameron.crotts" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
								<li><a href="https://www.instagram.com/camronc/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="https://twitter.com/cinccreative" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
							</ul>
							<a href="https://simplecast.com/s/86177d8c" target="_blank"><div class="hotseat__play"></div></a>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/2017/creative_south/ep_25.png');"></div>
							<div class="hotseat__num"><span>25</span></div>
							<div class="hotseat__name">Rachel Lintner</div>
							<div class="hotseat__title">Web Developer at <a href="https://www.wvu.edu/" target="_blank">West Virginia University</a></div>
							<ul class="hotseat__social">
								<li><a href="https://dribbble.com/justalittlelamb/" target="_blank"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								<li><a href="https://www.facebook.com/justalittlelamb/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
								<li><a href="https://www.instagram.com/justalillamb/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="https://twitter.com/justalillamb" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
							</ul>
							<a href="https://simplecast.com/s/4aba0e2e" target="_blank"><div class="hotseat__play"></div></a>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/2017/creative_south/ep_24.png');"></div>
							<div class="hotseat__num"><span>24</span></div>
							<div class="hotseat__name">Aaron Dowd</div>
							<div class="hotseat__title">Podcast Editor / Producer for <a href="https://www.thepodcastdude.com" target="_blank">seanwes</a></div>
							<ul class="hotseat__social">
								<li><a href="https://www.instagram.com/aarondowd/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="https://twitter.com/thepodcastdude" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
							</ul>
							<a href="https://simplecast.com/s/43865b72" target="_blank"><div class="hotseat__play"></div></a>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/2017/creative_south/ep_23.png');"></div>
							<div class="hotseat__num"><span>23</span></div>
							<div class="hotseat__name">Stephanie Irigoyen</div>
							<div class="hotseat__title">Designer / Illustrator / Animator of <a href="http://irigoyendesign.com/" target="_blank">Irigoyen Design</a></div>
							<ul class="hotseat__social">
								<li><a href="https://dribbble.com/stephirig" target="_blank"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								<li><a href="https://www.facebook.com/irigoyendesign" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
								<li><a href="https://www.instagram.com/irigoyendesign/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="https://twitter.com/stephirigoyen" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
							</ul>
							<a href="https://simplecast.com/s/a299e5fc" target="_blank"><div class="hotseat__play"></div></a>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/2017/creative_south/ep_22.png');"></div>
							<div class="hotseat__num"><span>22</span></div>
							<div class="hotseat__name">Ben Stafford</div>
							<div class="hotseat__title">Illustrator / Designer of <a href="http://www.benillustrated.com/" target="_blank">benillustrated.com</a></div>
							<ul class="hotseat__social">
								<li><a href="https://dribbble.com/benstafford" target="_blank"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								<li><a href="https://www.instagram.com/benstafford86/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="https://twitter.com/BenStafford86" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
							</ul>
							<a href="https://simplecast.com/s/97f6cc36" target="_blank"><div class="hotseat__play"></div></a>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/2017/creative_south/ep_21.png');"></div>
							<div class="hotseat__num"><span>21</span></div>
							<div class="hotseat__name">Jason Ratner</div>
							<div class="hotseat__title">Graphic Designer with <a href="https://thewaltdisneycompany.com/" target="_blank">Walt Disney Company</a></div>
							<ul class="hotseat__social">
								<li><a href="https://dribbble.com/JRatner" target="_blank"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								<li><a href="https://www.instagram.com/Jayratner81/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="https://twitter.com/JayRatner" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
							</ul>
							<a href="https://simplecast.com/s/b5e8e0c4" target="_blank"><div class="hotseat__play"></div></a>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/2017/creative_south/ep_20.png');"></div>
							<div class="hotseat__num"><span>20</span></div>
							<div class="hotseat__name">Adam Roark</div>
							<div class="hotseat__title">Design Manager at <a href="http://theroark.co/" target="_blank">Truett McConnell Unversity</a></div>
							<ul class="hotseat__social">
								<li><a href="https://dribbble.com/adamroark" target="_blank"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								<li><a href="https://www.instagram.com/theroarkco/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="https://twitter.com/theroarkco" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
							</ul>
							<a href="https://simplecast.com/s/739aa042" target="_blank"><div class="hotseat__play"></div></a>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/2017/creative_south/ep_19.png');"></div>
							<div class="hotseat__num"><span>19</span></div>
							<div class="hotseat__name">Ryan Standley</div>
							<div class="hotseat__title">Freelance Visual Designer of <a href="http://www.ryanstandley.com/" target="_blank">ryanstandley.com</a></div>
							<ul class="hotseat__social">
								<li><a href="https://dribbble.com/ryanthedesigner" target="_blank"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								<li><a href="https://www.instagram.com/ryanthedesigner/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="https://twitter.com/ryanthedesigner" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
							</ul>
							<a href="https://simplecast.com/s/56bdd0a8" target="_blank"><div class="hotseat__play"></div></a>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/2017/creative_south/ep_18.png');"></div>
							<div class="hotseat__num"><span>18</span></div>
							<div class="hotseat__name">Scott Khail</div>
							<div class="hotseat__title">Graphic Designer / Illustrator of <a href="https://www.royalbonesdesignco.com/" target="_blank">Royal Bones Design Co.</a></div>
							<ul class="hotseat__social">
								<li><a href="https://www.instagram.com/scottkhail/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="https://twitter.com/scottkhail" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
							</ul>
							<a href="https://simplecast.com/s/b435f7bc" target="_blank"><div class="hotseat__play"></div></a>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/2017/creative_south/ep_17.png');"></div>
							<div class="hotseat__num"><span>17</span></div>
							<div class="hotseat__name">Nikki Villagomez</div>
							<div class="hotseat__title">Artist / Author of <a href="https://nikkivillagomez.wordpress.com/" target="_blank">culture+typography</a></div>
							<ul class="hotseat__social">
								<li><a href="https://www.instagram.com/nikki_vz/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="https://twitter.com/nikki_vz/" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
							</ul>
							<a href="https://simplecast.com/s/a3938863" target="_blank"><div class="hotseat__play"></div></a>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/2017/creative_south/ep_16.png');"></div>
							<div class="hotseat__num"><span>16</span></div>
							<div class="hotseat__name">Dustin Lee</div>
							<div class="hotseat__title">Owner of <a href="https://www.retrosupply.co/" target="_blank">RetroSupply Co.</a></div>
							<ul class="hotseat__social">
								<li><a href="https://dribbble.com/RetroSupply" target="_blank"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								<li><a href="https://www.facebook.com/getretrosupply/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
								<li><a href="https://www.instagram.com/retrosupply/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="https://twitter.com/heydustinlee" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
							</ul>
							<a href="https://simplecast.com/s/f2aadadd" target="_blank"><div class="hotseat__play"></div></a>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/2017/creative_south/ep_15.png');"></div>
							<div class="hotseat__num"><span>15</span></div>
							<div class="hotseat__name">Raijeim Douglas</div>
							<div class="hotseat__title">Owner of <a href="#!" target="_blank">Raijeims Sew Crafty</a></div>
							<ul class="hotseat__social">
								<li><a href="https://twitter.com/raijeim" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
							</ul>
							<a href="https://simplecast.com/s/001f6977" target="_blank"><div class="hotseat__play"></div></a>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/2017/creative_south/ep_14.png');"></div>
							<div class="hotseat__num"><span>14</span></div>
							<div class="hotseat__name">Dominique Falla</div>
							<div class="hotseat__title">Boss Lady of <a href="http://www.dominiquefalla.com/" target="_blank">Typism</a></div>
							<ul class="hotseat__social">
								<li><a href="https://dribbble.com/dominique_falla" target="_blank"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								<li><a href="https://www.facebook.com/tactile.typographer/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
								<li><a href="https://www.instagram.com/dominique_falla/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="https://twitter.com/dominique_falla" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
							</ul>
							<a href="https://simplecast.com/s/f9171f42" target="_blank"><div class="hotseat__play"></div></a>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/2017/creative_south/ep_13.png');"></div>
							<div class="hotseat__num"><span>13</span></div>
							<div class="hotseat__name">Hayden Aube</div>
							<div class="hotseat__title">Illustrator at <a href="http://hkaube.com/" target="_blank">hkaube.com</a></div>
							<ul class="hotseat__social">
								<li><a href="https://dribbble.com/hkaube" target="_blank"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								<li><a href="https://www.facebook.com/hkaube" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
								<li><a href="https://www.instagram.com/hkaube/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="https://twitter.com/haydenaube" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
							</ul>
							<a href="https://simplecast.com/s/2b4505d7" target="_blank"><div class="hotseat__play"></div></a>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/2017/creative_south/ep_12.png');"></div>
							<div class="hotseat__num"><span>12</span></div>
							<div class="hotseat__name">Doc Reed</div>
							<div class="hotseat__title">Graphic Artist behind <a href="http://www.iamreedicus.com/" target="_blank">iamreedicus</a></div>
							<ul class="hotseat__social">
								<li><a href="https://dribbble.com/iamReedicus" target="_blank"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								<li><a href="https://www.facebook.com/I-am-Reedicus-162958450459336/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
								<li><a href="https://www.instagram.com/iamreedicus/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="https://twitter.com/iamReedicus" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
							</ul>
							<a href="https://simplecast.com/s/baa62ddd" target="_blank"><div class="hotseat__play"></div></a>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/2017/creative_south/ep_11.png');"></div>
							<div class="hotseat__num"><span>11</span></div>
							<div class="hotseat__name">Jeremy Slagle</div>
							<div class="hotseat__title">Owner of <a href="http://www.slagledesign.com/" target="_blank">Slagle Design</a></div>
							<ul class="hotseat__social">
								<li><a href="https://dribbble.com/jeremyslagle" target="_blank"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								<li><a href="https://www.facebook.com/slagledesign" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
								<li><a href="https://www.instagram.com/slagledesign/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="https://twitter.com/jeremyslagle" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
							</ul>
							<a href="https://simplecast.com/s/c6d94594" target="_blank"><div class="hotseat__play"></div></a>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/2017/creative_south/ep_10.png');"></div>
							<div class="hotseat__num"><span>10</span></div>
							<div class="hotseat__name">Mitch Shepherd</div>
							<div class="hotseat__title">Owner of <a href="https://humblymade.com/" target="_blank">Humbly Made</a></div>
							<ul class="hotseat__social">
								<li><a href="https://www.facebook.com/HumblyMade/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
								<li><a href="https://www.instagram.com/humblymadebrand/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="https://twitter.com/humblymadebrand" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
							</ul>
							<a href="https://simplecast.com/s/4bddd8dc" target="_blank"><div class="hotseat__play"></div></a>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/2017/creative_south/ep_9.png');"></div>
							<div class="hotseat__num"><span>9</span></div>
							<div class="hotseat__name">Jose Ciceraro</div>
							<div class="hotseat__title">Sr. UI Artist at <a href="http://www.insomniacgames.com/" target="_blank">Insomniac Games</a></div>
							<ul class="hotseat__social">
								<li><a href="https://dribbble.com/superspaceocto" target="_blank"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								<li><a href="https://www.instagram.com/superspaceocto/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="https://twitter.com/superspaceocto" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
							</ul>
							<a href="https://simplecast.com/s/bb430b8c" target="_blank"><div class="hotseat__play"></div></a>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/2017/creative_south/ep_8.png');"></div>
							<div class="hotseat__num"><span>8</span></div>
							<div class="hotseat__name">Shauna Lynn<br />&amp; Syd Weiler</div>
							<div class="hotseat__title">Illustrators on the <a href="https://www.twitch.tv/adobe" target="_blank">Adobe Twitch</a> Team</div>
							<ul class="hotseat__social" style="text-align: left;">
								<li><a href="https://www.facebook.com/shaunaparmesan" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
								<li><a href="https://www.instagram.com/shaunaparmesan/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="https://twitter.com/shaunaparmesan" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
								<li><a href="https://dribbble.com/shaunaparmesan" target="_blank"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								<br />
								<li><a href="https://www.facebook.com/sydweiler" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
								<li><a href="https://www.instagram.com/sydweiler/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="https://twitter.com/sydweiler" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
							</ul>
							<a href="https://simplecast.com/s/1e9ea106" target="_blank"><div class="hotseat__play"></div></a>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/2017/creative_south/ep_7.png');"></div>
							<div class="hotseat__num"><span>7</span></div>
							<div class="hotseat__name">Scott Fuller</div>
							<div class="hotseat__title">Graphic Designer at <a href="https://dribbble.com/studiotemporary" target="_blank">The Studio Temporary</a></div>
							<ul class="hotseat__social">
								<li><a href="http://dribbble.com/studiotemporary" target="_blank"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								<li><a href="https://instagram.com/studiotemporary/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="http://twitter.com/studiotemporary" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
							</ul>
							<a href="https://simplecast.com/s/1472c8a7" target="_blank"><div class="hotseat__play"></div></a>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/2017/creative_south/ep_6.png');"></div>
							<div class="hotseat__num"><span>6</span></div>
							<div class="hotseat__name">Emily Carlton</div>
							<div class="hotseat__title">Illustrator at <a href="http://thesketcheffect.com/" target="_blank">The Sketch Effect</a></div>
							<ul class="hotseat__social">
								<li><a href="https://www.instagram.com/emilyacarlton/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="https://twitter.com/EmilyaCarlton" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
							</ul>
							<a href="https://simplecast.com/s/d823c54b" target="_blank"><div class="hotseat__play"></div></a>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/2017/creative_south/ep_5.png');"></div>
							<div class="hotseat__num"><span>5</span></div>
							<div class="hotseat__name">Brittany Wong</div>
							<div class="hotseat__title">Art Director at <a href="http://www.heybrittanywong.com/" target="_blank">Five Q</a></div>
							<ul class="hotseat__social">
								<li><a href="https://dribbble.com/brittanywong" target="_blank"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								<li><a href="https://www.instagram.com/heybrittanywong/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="https://twitter.com/heybrittanywong" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
							</ul>
							<a href="https://simplecast.com/s/0075587d" target="_blank"><div class="hotseat__play"></div></a>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/2017/creative_south/ep_4.png');"></div>
							<div class="hotseat__num"><span>4</span></div>
							<div class="hotseat__name">Manuel Aguilera</div>
							<div class="hotseat__title">Character Designer &amp; Illustrator at <a href="http://mannycartoon.com/" target="_blank">Manny Cartoon Studios</a></div>
							<ul class="hotseat__social">
								<li><a href="https://www.facebook.com/Manny-Cartoon-Studio-162905213762810/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
								<li><a href="https://www.instagram.com/mannycartoon/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							</ul>
							<a href="https://simplecast.com/s/f8ffa1cd" target="_blank"><div class="hotseat__play"></div></a>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/2017/creative_south/ep_3.png');"></div>
							<div class="hotseat__num"><span>3</span></div>
							<div class="hotseat__name">Bethany Heck<br />&amp; Ced Funches</div>
							<div class="hotseat__title">Executive Design Directors at <a href="https://www.voxmedia.com/" target="_blank">Vox Media</a></div>
							<ul class="hotseat__social" style="text-align: left;">
								<li><a href="https://dribbble.com/bethanyheck" target="_blank"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								<li><a href="https://www.instagram.com/heckhouse" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="https://twitter.com/EephusLeague" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
								<br />
								<li><a href="https://dribbble.com/cedfunches" target="_blank"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								<li><a href="https://www.instagram.com/cedfunches" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="https://twitter.com/cedfunches" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
							</ul>
							<a href="https://simplecast.com/s/5a909eac" target="_blank"><div class="hotseat__play"></div></a>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/2017/creative_south/ep_2.png');"></div>
							<div class="hotseat__num"><span>2</span></div>
							<div class="hotseat__name">Chris DeLorenzo</div>
							<div class="hotseat__title">Graphic Artist at <a href="http://www.chrisdelorenzo.com/" target="_blank">chrisdelorenzo.com</a></div>
							<ul class="hotseat__social">
								<li><a href="https://www.instagram.com/chrisdelorenzo/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="https://twitter.com/chrisdelorenzo" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
							</ul>
							<a href="https://simplecast.com/s/35b8c5f1" target="_blank"><div class="hotseat__play"></div></a>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/2017/creative_south/ep_1.png');"></div>
							<div class="hotseat__num"><span>1</span></div>
							<div class="hotseat__name">Lenny Terenzi</div>
							<div class="hotseat__title">Proprietor of <a href="http://www.heymonkeydesign.com/" target="_blank">Hey! Monkey</a></div>
							<ul class="hotseat__social">
								<li><a href="https://dribbble.com/heymonkeydesign" target="_blank"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								<li><a href="https://www.facebook.com/HeyMonkeyDesign/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
								<li><a href="https://www.instagram.com/heymonkeydesign/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="https://twitter.com/heymonkeydesign" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
							</ul>
							<a href="https://simplecast.com/s/215dd1a1" target="_blank"><div class="hotseat__play"></div></a>
						</li>
						{# <li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/2017/creative_south/ep_1.png');"></div>
							<div class="hotseat__num"><span>1</span></div>
							<div class="hotseat__name">Lenny Terenzi</div>
							<div class="hotseat__title">Artist / Designer at <a href="#!" target="_blank">Chomp</a></div>
							<ul class="hotseat__social">
								<li><a href="#!" target="_blank"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								<li><a href="#!" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
								<li><a href="#!" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="#!" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
							</ul>
							<a href="#!" target="_blank"><div class="hotseat__play"></div></a>
						</li> #}
					</ul>
				</div>
			</div>
		</div>
	</div><!-- /content-wrapper -->
{% endblock %}