{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul class="hotseats">
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/2017/popup_crop/ep_8.jpg');"></div>
							<ul class="hotseat__options">
								<li><a href="https://simplecast.com/s/592b46e8" target="_blank"><i class="fa fa-microphone" aria-hidden="true"></i></a></li>
							</ul>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/2017/popup_crop/ep_7.jpg');"></div>
							<ul class="hotseat__options">
								<li><a href="https://simplecast.com/s/3d800949" target="_blank"><i class="fa fa-microphone" aria-hidden="true"></i></a></li>
								<li><a href="https://youtu.be/TY-BjqvIcps" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
							</ul>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/2017/popup_crop/ep_6.jpg');"></div>
							<ul class="hotseat__options">
								<li><a href="https://simplecast.com/s/d509c102" target="_blank"><i class="fa fa-microphone" aria-hidden="true"></i></a></li>
								<li><a href="https://youtu.be/4kRh7mgYcc4" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
							</ul>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/2017/popup_crop/ep_5.jpg');"></div>
							<ul class="hotseat__options">
								<li><a href="https://simplecast.com/s/f392b00e" target="_blank"><i class="fa fa-microphone" aria-hidden="true"></i></a></li>
								<li><a href="https://youtu.be/cRU9cqMVZQ4" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
							</ul>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/2017/popup_crop/ep_4.jpg');"></div>
							<ul class="hotseat__options">
								<li><a href="https://simplecast.com/s/a8fab1c1" target="_blank"><i class="fa fa-microphone" aria-hidden="true"></i></a></li>
								<li><a href="https://youtu.be/gGNLMeHLpdY" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
							</ul>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/2017/popup_crop/ep_3.jpg');"></div>
							<ul class="hotseat__options">
								<li><a href="https://simplecast.com/s/ef96fa6a" target="_blank"><i class="fa fa-microphone" aria-hidden="true"></i></a></li>
								<li><a href="https://youtu.be/IUDH-Q080Ss" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
							</ul>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/2017/popup_crop/ep_2.jpg');"></div>
							<ul class="hotseat__options">
								<li><a href="https://simplecast.com/s/294a636c" target="_blank"><i class="fa fa-microphone" aria-hidden="true"></i></a></li>
								<li><a href="https://youtu.be/ef81RxygTNM" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
							</ul>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/2017/popup_crop/ep_1.jpg');"></div>
							<ul class="hotseat__options">
								<li><a href="https://simplecast.com/s/e14f24f2" target="_blank"><i class="fa fa-microphone" aria-hidden="true"></i></a></li>
								<li><a href="https://youtu.be/_KoSn-JL5HU" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
							</ul>
						</li>
						{# <li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/2017/creative_south/ep_1.jpg');"></div>
							<ul class="hotseat__social">
								<li><a href="#!" target="_blank"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								<li><a href="#!" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
								<li><a href="#!" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="#!" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
							</ul>
							<a href="#!" target="_blank"><div class="hotseat__play"></div></a>
						</li> #}
					</ul>
				</div>
			</div>
		</div>
	</div><!-- /content-wrapper -->
{% endblock %}