{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul class="hotseats">
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/ep_7.jpg');"></div>
							<div class="hotseat__num"><span>6</span></div>
							<div class="hotseat__name">Natalie Box</div>
							<div class="hotseat__title">Founder of <a href="http://thewritersink.com" target="_blank">The Dreams Co / The Writers Ink</a></div>
							<ul class="hotseat__social">
								<li><a href="https://www.instagram.com/thewritersink/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="https://www.facebook.com/nataliebox/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
							</ul>
							<a href="https://simplecast.com/s/73a7f1f8" target="_blank"><div class="hotseat__play"></div></a>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/ep_6.jpg');"></div>
							<div class="hotseat__num"><span>5</span></div>
							<div class="hotseat__name">Angie Callen</div>
							<div class="hotseat__title">Founder of <a href="http://angiecallen.com" target="_blank">Angie Callen Now</a></div>
							<ul class="hotseat__social">
								<li><a href="https://www.instagram.com/angiecallennow/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="https://www.facebook.com/angiecallennow/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
								<li><a href="https://www.instagram.com/angiecallen/" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
							</ul>
							<a href="https://simplecast.com/s/f8ec864c" target="_blank"><div class="hotseat__play"></div></a>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/ep_5.jpg');"></div>
							<div class="hotseat__num"><span>4</span></div>
							<div class="hotseat__name">Fabiano Altamura</div>
							<div class="hotseat__title">Co-Founder / Head of Drama at <a href="http://bethelconservatory.com" target="_blank">Bethel Conservatory of the Arts</a></div>
							<ul class="hotseat__social">
								<li><a href="https://www.facebook.com/fabiano.martell/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
								<li><a href="https://www.instagram.com/thedreamcircle/" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
							</ul>
							<a href="https://simplecast.com/s/cff20406" target="_blank"><div class="hotseat__play"></div></a>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/ep_4.jpg');"></div>
							<div class="hotseat__num"><span>3</span></div>
							<div class="hotseat__name">Seth Dahl</div>
							<div class="hotseat__title">Senior Children’s Pastor at <a href="http://bethelredding.com/" target="_blank">Bethel Redding</a></div>
							<ul class="hotseat__social">
								<li><a href="https://www.facebook.com/dahlministries/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
								<li><a href="https://www.instagram.com/sethdahl/" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
							</ul>
							<a href="https://simplecast.com/s/0706fdc4" target="_blank"><div class="hotseat__play"></div></a>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/ep_3.jpg');"></div>
							<div class="hotseat__num"><span>2</span></div>
							<div class="hotseat__name">Caitlin Calhoun &amp; Nadia Paredes</div>
							<div class="hotseat__title">Founder at <a href="http://saltandcinnamon.com" target="_blank">Salt And Cinnamon</a></div>
							<div class="hotseat__title">Creative at <a href="http://saltandcinnamon.com" target="_blank">Salt And Cinnamon</a></div>
							<ul class="hotseat__social">
								<li><a href="https://www.facebook.com/saltandcinnamon/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
								<li><a href="https://www.instagram.com/saltandcinnamon/" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
							</ul>
							<a href="https://simplecast.com/s/a0f80a1a" target="_blank"><div class="hotseat__play"></div></a>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/ep_2.jpg');"></div>
							<div class="hotseat__num"><span>1</span></div>
							<div class="hotseat__name">Shawn Anderson</div>
							<div class="hotseat__title">Owner / Roaster at <a href="http://oldtownroasting.com" target="_blank">Old Town Roasting</a></div>
							<ul class="hotseat__social">
								<li><a href="https://www.instagram.com/shawntheroaster/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="https://twitter.com/shawntheroaster/" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
							</ul>
							<a href="https://simplecast.com/s/644c6d62" target="_blank"><div class="hotseat__play"></div></a>
						</li>
						<li class="hotseat">
							<div class="hotseat__img u-abs-fill u-bg__img" style="background-image: url('{{ theme.link }}/assets/src/img/ep_1.jpg');"></div>
							<div class="hotseat__num"><span>0</span></div>
							<div class="hotseat__name">Joshua &amp; Lauren Ariza</div>
							<div class="hotseat__title">Artist / Designer at <a href="http://chompbrand.com" target="_blank">Chomp</a></div>
							<div class="hotseat__title">Chef / Blogger at <a href="http://laurenariza.com" target="_blank">Recipe • Schmecipe</a></div>
							<ul class="hotseat__social">
								<li><a href="https://www.instagram.com/laurenariza/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
								<li><a href="https://www.instagram.com/laurenariza/" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
								<li><a href="https://www.instagram.com/joshua_ariza/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
								<li><a href="https://www.instagram.com/joshua_ariza/" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
								<li><a href="https://www.dribbble.com/joshua_ariza/" target="_blank"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
							</ul>
							<a href="https://simplecast.com/s/4d60f60f" target="_blank"><div class="hotseat__play"></div></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div><!-- /content-wrapper -->
{% endblock %}